
<!-- 
*******
     Event page
     Version: 1.0
     Date: 10/04/2019
     Author: Vianse
*****
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos NNI LATAM</title>
    <link href="../../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/es.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
 
</head>
<body>
        <header>
                <img src="https://firebasestorage.googleapis.com/v0/b/certificados-fe53d.appspot.com/o/logo.png?alt=media&token=81e90d97-f04c-4eae-bf96-54442c9b637f">
                <div class="name"><%= params[:nickname] %></div>
        </header>        
         <div class="container">
                    <div class="row">
                            <div class="col">
                            </div>
                            <div class="col-6">
                                    <h2 style="text-align: center;">Eventos NNI LATAM</h2>
                            </div>
                            <div class="col">
                            </div>
                          </div>
                         <div class="row">
                            <div class="col-12">
                                  
                                 
                                          
                            </div>
                         </div>
                         <div id="paginate" class="row">
                                <div id="row1" class="col-4"></div>
                                <div class="col-4 paginate">
                                <%= Event.where(:id => params[:event]).pluck(:message).first %>
                                </div>
                                <div class="col-4"></div>
                        </div>
                         <div class="row">
                                <div class="col-12 botonback">
                                    <a href='/home/index?token=<%= params[:token] %>' class="regresar"> Regresar </a>
                                </div>
                        </div>
            </div>

    </body>
    <footer>
            <div class="green">
            </div>
            <div class="subtitle">Sólo para Profesionales de la Salud</div>
            <div class="institute">2019 Nestlé Nutrition Institute</div>
            <nav class="db dt-l w-100 border-box pa4 ph5-l">
        
                <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
                    <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/aviso-de-privacidad" >Política de Privacidad</a>
                    <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/politica-de-cookies" >Política de Cookies</a>
                    <a class="link dim white f6 f7-l dib mr3 mr3-l" href="https://www.nestlenutrition-institute.org/region/latam/general/terminos-y-condiciones" >Términos y Condiciones</a>
                    <a class="link dim white f6 f7-l dib mr3 mr3-l" href="mailto:soporte@nniacademy.com" >Contáctenos</a>
        
                </div>
            </nav>
            
        
        </footer>
</html>
