

#footer {
   position:absolute;
   bottom:0;
   left: 0%;
   right: 0%;
   width:100% !important;
   height:60px;   /* Height of the footer */
   background:#6cf;
   height: 100px;
}
.alerta{
    margin-top: 5%;
    bottom: 0;
    background: red;
    text-align: center
    
}


html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2em;
  }
  
  #page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
  .registrado{
   
      background-color: mediumseagreen;
      color: #f7f7f7;
      padding: 5px;
  }
  .registrado:hover{

    font-weight: 500;
    text-decoration: none;
    font-weight: 500;
    color:white;

 }
 .regresar{

    margin-top: 7%;
    color: mediumseagreen;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
   
    
 }
 table{
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
 }
 .botonback{
    margin-top: 1%;
   text-align: center;
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
    float: none;
 }
 

  td.boton{
      
      height: 30px;
      
  }
  .nombreEvento{
      font-weight: 600;
      color: dimgray;
      font-family: Arial;
      font-size: 14px;
      width: 100%;
     background-color: #f7f7f7;
     height: 30px;
     padding-left: 10px;
     padding-top: 5px;
  }
  .subtitulos{
      text-align: center;
      font-size: 12px;
  }
  .paginate{
    padding-top: 1%;
    padding-left: 5%!important;
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
    float: none;
  }

 p{
     font-size: 12px;
 }
 html{
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
header{
    height:100px;
}
header>img{
    position:absolute;
    top:20px;
    left: 2%;
    right:50%;
}
footer{
    height:130px;
    background-color:#064189;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
footer>.green{
    height:20px;
    width: 100%;
    background-color:#67a654;
    position: absolute;
    left: 0;
    top: 0;
}
footer>.subtitle{
    color:white;
    font-size:17px;
    position:absolute;
    top:50px;
    font-weight:bold;
}
footer>.institute{
    color:white;
    font-size:14px;
    position:absolute;
    top:80px;
}
footer>nav{

    right:80px;
    color:white;
  
}
#mensaje,#mensaje1{
    background-color:#EC7063;
    color:white;
    font-weight:bold;
    height:20px!important;
    width:300px!important;
}
.name{
    position: absolute;
    text-align: right;
    top:20px;
    right: 20px;
}
@media only screen and (max-width: 400px) {
    .subtitulos{
        display: none;
    }

    .paginate{
      
      padding-top: 1%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      float: none;
    }
 
    footer{
   
        height:210px!important;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:60px!important;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:90px!important;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%!important;
        right:80px;
        color:white;
        height:50%!important;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 5%!important;
        width:40%!important;
       
    }
}
@media only screen and (max-width: 600px) {
    footer{
        height:200px;
        background-color:#064189;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        top:80%;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 30%!important;
        width:50%!important;
    }
}
@media only screen and (max-width: 760px) {
    footer{
        height:200px;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     
     
}
@media only screen and (max-width: 1060px) {
    .name{
        display:none;
    }

    .paginate{
        padding-top: 1%;
        padding-left: 5%!important;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        float: none;
      }
    #paginate{

      
        padding-top: 1%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
    #row1{
        display: none;
    }
   
    footer{
        height:180px;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 40%;
        right:50%;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 21px;
    font-family: 'Open Sans';
  }
  
  html, body {
    height: 100%;
  }
  
  h1 {
    font-family: 'Raleway';
    font-size: 2.7em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #222;
    margin-bottom: .3em;
  }
  
  p {
    font-weight: 200;
    color: #525252;
  }
  
  .fl {
    float: left;
    margin: 20px;
  }
  
  .fr {
    float: right;
    margin: 20px;
  }
  
  .hero {
    width: 40%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center 30%;
  }
  .hero .hamb-wrap {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 2;
  }
  .hero .hamb {
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.2s;
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
  }
  .hero .hamb:before, .hero .hamb:after {
    content: '';
    position: absolute;
    background: #fff;
    height: 3px;
    width: 100%;
    transition: 0.2s;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  }
  .hero .hamb:before {
    top: 8px;
  }
  .hero .hamb:after {
    top: -8px;
  }
  .hero .active {
    background: none;
    transition: 0.2s;
  }
  .hero .active:before, .hero .active:after {
    transition: 0.2s;
    top: 0;
  }
  .hero .active:before {
    transform: rotate(45deg);
  }
  .hero .active:after {
    transform: rotate(-45deg);
  }
  .hero .logo {
    color: white;
    font-family: 'Over the Rainbow';
    font-size: 1.9em;
    margin: 0 0 0 85px;
    line-height: 2;
  }
  .hero nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    font-family: 'Raleway';
    font-size: 2em;
    display: none;
    background: rgba(0, 0, 0, 0.8);
  }
  .hero nav ul {
    margin: 0 0 0 25px;
    padding: 0;
  }
  .hero nav li {
    list-style-type: none;
    margin: 25px 0;
    position: relative;
  }
  .hero nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .content {
    width: 60%;
    min-height: 100%;
    margin-left: 40%;
    
    overflow: hidden;
  }
  h6,p{
    margin-bottom: 0!important;
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 18px;
    }
  
    .hero {
      height: 350px;
      width: 100%;
      display: block;
      position: relative;
      padding: 1px;
    }
    .hero nav {
      font-size: 1.7em;
    }
  
    .content {
      margin-left: 0;
      padding-top: 0;
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    img.fl, img.fr {
      float: none;
      margin: 10px 0;
      width: 100%;
      height: auto;
    }
  }
  .ba {
      border-style: solid;
      border-width: 1px;
  }
  
  .bb {
      border-bottom-style: solid;
      border-bottom-width: 1px;
  }
  
  .b--light-silver {
      border-color: #aaa;
  }
  
  .br2 {
      border-radius: .25rem;
  }
  
  .list {
      list-style-type: none;
  }
  
  .mw6 {
      max-width: 32rem;
  }
  
  .pa3 {
      padding: 1rem;
  }
  
  .pl0 {
      padding-left: 0;
  }
  
  .pv3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
  
  .ph3 {
      padding-left: 1rem;
      padding-right: 1rem;
  }
  
  .ml0 {
      margin-left: 0;
  }
  
  .f4 {
      font-size: 1.25rem;
  }
  
  .center {
      margin-right: auto;
      margin-left: auto;
  }
  
  @media screen and (min-width: 30em) {
      .pa5-ns {
          padding: 4rem;
      }
  }
  
