

#footer {
   position:absolute;
   bottom:0;
   left: 0%;
   right: 0%;
   width:100% !important;
   height:60px;   /* Height of the footer */
   background:#6cf;
   height: 100px;
}
.alerta{
    margin-top: 5%;
    bottom: 0;
    background: red;
    text-align: center
    
}


html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2em;
  }
  
  #page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }
  .registrado{
   
      background-color: mediumseagreen;
      color: #f7f7f7;
      padding: 5px;
  }
  .registrado:hover{

    font-weight: 500;
    text-decoration: none;
    font-weight: 500;
    color:white;

 }
 .regresar{

    margin-top: 7%;
    color: mediumseagreen;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
   
    
 }
 table{
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
 }
 .botonback{
    margin-top: 5%;
   text-align: center;
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
    float: none;
 }
 

  td.boton{
      
      height: 30px;
      
  }
  .nombreEvento{
      font-weight: 600;
      color: dimgray;
      font-family: Arial;
      font-size: 14px;
      width: 100%;
     background-color: #f7f7f7;
     height: 30px;
     padding-left: 10px;
     padding-top: 5px;
  }
  .subtitulos{
      text-align: center;
      font-size: 12px;
  }
  .paginate{
    padding-top: 1%;
    padding-left: 5%!important;
    margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
    float: none;
  }

 p{
     font-size: 12px;
 }
 html{
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
header{
    height:100px;
}
header>img{
    position:absolute;
    top:20px;
    left: 2%;
    right:50%;
}
footer{
    height:130px;
    background-color:#064189;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
footer>.green{
    height:20px;
    width: 100%;
    background-color:#67a654;
    position: absolute;
    left: 0;
    top: 0;
}
footer>.subtitle{
    color:white;
    font-size:17px;
    position:absolute;
    top:50px;
    font-weight:bold;
}
footer>.institute{
    color:white;
    font-size:14px;
    position:absolute;
    top:80px;
}
footer>nav{

    right:80px;
    color:white;
  
}
#mensaje,#mensaje1{
    background-color:#EC7063;
    color:white;
    font-weight:bold;
    height:20px!important;
    width:300px!important;
}
.name{
    position: absolute;
    text-align: right;
    top:20px;
    right: 20px;
}
@media only screen and (max-width: 400px) {
    .subtitulos{
        display: none;
    }

    .paginate{
      
      padding-top: 1%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      float: none;
    }
 
    footer{
   
        height:210px!important;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:60px!important;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:90px!important;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%!important;
        right:80px;
        color:white;
        height:50%!important;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 5%!important;
        width:40%!important;
       
    }
}
@media only screen and (max-width: 600px) {
    footer{
        height:200px;
        background-color:#064189;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        top:80%;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 30%!important;
        width:50%!important;
    }
}
@media only screen and (max-width: 760px) {
    footer{
        height:200px;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     
     
}
@media only screen and (max-width: 1060px) {
    .name{
        display:none;
    }

    .paginate{
        padding-top: 1%;
        padding-left: 5%!important;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        float: none;
      }
    #paginate{

      
        padding-top: 1%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
    #row1{
        display: none;
    }
   
    footer{
        height:180px;
        background-color:#064189;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
    }
    footer>.subtitle{
        color:white;
        font-size:17px;
        position:absolute;
        top:50px;
        font-weight:bold;
    }
    footer>.institute{
        color:white;
        font-size:14px;
        position:absolute;
        top:80px;
    }
    footer>nav{
        position:absolute;
        left:0;
        top:40%;
        right:80px;
        color:white;
  
     }
     header>img{
        position:absolute;
        top:20px;
        left: 40%;
        right:50%;
    }
}

 
